* {
    margin: 0;
    padding: 0;
    color: burlywood;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
a {
    text-decoration: none;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
}
/* Header
-----------------------------------------------------------------------------*/
header {
    height: 200px;
    border-bottom: 2px solid burlywood;
}
body {
    font-size: 16px;
    font-family: 'Segoe Print';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe Script';
}
nav {
    width: 100%;
    margin: 15px;
}
/*Hidden h1 for SEO*/
.hidden {
    display: none;
}
/*Main logo */
.logo_img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 30px;
    transition: all 2s ease-in-out;
}
.logo_img:hover {
    filter: alpha (Opacity=25);/* прозрачность для IE */
    opacity: 0.25;/* прозрачность для других браузеров */
    transform: translate(350px,0);
    position: relative;
}
.main_nav {
    text-align: center;
}
.main_nav li{
    margin: 30px;
    list-style: none;
    display: inline-block;
}
.nav_item {
  -webkit-transition: all 0.5s ease;;
  -moz-transition: all 0.5s ease;;
  -o-transition: all 0.5s ease;;
  transition: all 0.5s ease;
}
.nav_item:hover {
    font-size: 30px;
}
.what_a {
    margin-left: 30px;
}
/*Animation CSS for photo*/
.transition-width {
    margin: 0 auto;
    padding: 10px;
    max-width: 90%;
    cursor: pointer;
    transition:2s linear;
}
.transition-width:hover {
    max-width: 10vw;
}
.main_content {
    margin: 10px;
}
.pay, .how, .delivery, .present, .order, .price, .reviews, .contacts {
    border-bottom: 2px solid burlywood;
    height:300px ; 
}
h2 {
    margin-top: 20px;
    color: burlywood;
    font-size: 30px;
}
.left_panel {
    width: 20%;
    float: left;
}
.center_panel {
    width: 55%;
    border-bottom: 2px solid burlywood;
    border-right: 2px solid burlywood;
    border-left: 2px solid burlywood;
    float: left;
}
.right_panel {
    width: 23%;
    float: left;
    height: 100vw;
}
/*Hide text*/
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}